body {
	margin: 0;
}
@font-face {
	font-family: "mrgvlovani";
	font-style: normal;
	src: url(bpg_mrgvlovani_caps_2010.ttf);
}
.main {
	height: 100%;
	width: 100%;
	background-color: red;
}
.container {
	height: auto;
	width: calc(100% - 200px);
	display: flex;
	margin-left: auto;
	margin-right: auto;
	/* background: orange; */
}

.header {
	background: #274374;
	display: flex;
	/* width: 100%; */
	height: 150px;
	border: 1px solid #707070;
	line-height: auto;
	/* padding: 35px 0px; */
	color: #fcfafa;
	text-align: center;
	vertical-align: center;
	font-size: 20px;
	font-family: mrgvlovani;
}

.menu {
	width: calc(100% - 200px);
	display: flex;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
}
.menu div {
	margin: 0 25px;
	display: flex;
}

.menu div span {
	margin: auto;
}

.logo {
	margin: auto;
}

.language {
	margin: auto 0 auto auto;
	display: flex;
}
.language span {
	margin: 0px 25px;
}

.burger {
	cursor: pointer;
	margin: auto 0;
	display: none;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: #fcfafa;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/* nav */
.nav {
	width: auto;
	height: auto;
	background-color: #274374;
	position: absolute;
	right: 0;
	display: none;
}

.nav div {
	padding: 10px 50px;
	text-align: center;
}

/* footer */

.footer {
	width: 100%;
	height: 890px;
	background: rgba(238, 237, 239, 0.55);
}
.footer_container {
	display: flex;
	justify-content: space-between;
	margin-bottom: auto;
	margin-top: auto;
	height: 600px;
}
.form_container {
	/* background: red; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* width: 100%; */
}
.footer_conrain {
	height: 100%;
}
.fooret_names {
	height: 170px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.fooret_names div {
	display: flex;
	flex-direction: column;
}
.fooret_names div span,
.form_container form input {
	font-family: mrgvlovani;
	font-size: 24px;
	line-height: 33px;
	color: #292929;
	opacity: 75%;
	outline: none;
}

.footer_facebook {
	width: 39px;
	height: 35px;
	color: #292929;
	border: 1px solid #292929;
}

.footer_facebook img {
}
.form_container form {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}
.form_container form input {
	text-decoration: none;
	background: none;
	border: none;
	border-bottom: 1px solid #0c3d93;
	opacity: 50%;
}

.map_container {
	/* background: green; */
	width: 675px;
	height: 425px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map_container iframe {
	width: 100%;
	height: 100%;
	border: 1px solid #0c3d93;
}
