<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/aboutus.css" />
		<link rel="stylesheet" href="../static/stylesheets/gallery.css" />
		<link rel="stylesheet" href="../static/stylesheets/service.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />

		<link rel="stylesheet" href="../static/stylesheets/responsive/1024px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/960px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/480px.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="logo">
					<img src="../static/images/Group -2.png" />
				</div>
				<div class="menu menunone">
					<div><a>ჩვენ შესახებ</a></div>
					<div><a>სერვისები</a></div>
					<div><a>გალერეა</a></div>
					<div><a>კონტაქტი</a></div>
				</div>
				<div class="language">
					<span>GEO</span>
					<span>EN</span>
				</div>
				<div class="burger burgerblock" onclick="myFunction(this)">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
			</div>
		</header>
		<div class="nav" id="menu">
			<div><a>ჩვენ შესახებ</a></div>
			<div><a>სერვისები</a></div>
			<div><a>გალერეა</a></div>
			<div><a>კონტაქტი</a></div>
		</div>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_-3.png" />
				<div class="sliderInfo aboutusInfo">
					<div class="sliderInfo_container">
						<h1>სერვისები</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container service-containerweb servicemaincontainer">
			<div class="service-container">
				<div class="">
					<div class="service-container_header">
						<h2>საოფისე ფართების გაქირავება</h2>
					</div>

					<div class="service-info_container servvice2-container">
						<div class="service-info_container_middle">
							<div
								class="service-info_container_img service-info_container_imgmiddle"
							>
								<img src="../static/images/3.png" />
							</div>
						</div>
						<div class="service-info_container_information service2_para">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან
							</p>
						</div>
					</div>

					<div class="service-clock">
						<div class="service-time">
							<h3>2-3 საათი 4-5 საათი 6-9 საათი</h3>
							<h3>2-3 საათი 4-5 საათი 6-9 საათი</h3>
						</div>
						<div class="servic-price">
							<h3>ფასი 60ლარი ფასი 110 ლარი ფასი 160 ლარი</h3>
							<h3>ფასი 35ლარი ფასი 80 ლარი ფასი 110 ლარი</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="service-logoinfo none">
				<div class="service-logo">
					<img src="../static/images/Group 43.png" />
				</div>
				<h2>სლოგანი</h2>
				<p>ლორემ იპსუმ ლორემ</p>
				<div class="service-line"></div>
				<h4>საოფისე ფართების გაქირავება</h4>
				<div class="service-line"></div>
				<h4>იურიდიული მისამართის გაქირავება/შეძენა</h4>
				<div class="service-line"></div>
				<h4>საკონფერენციო დარბაზები</h4>
				<div class="service-line"></div>
			</div>
		</div>
		<footer class="footer">
			<div class="container footer_conrain">
				<div class="main_container_header main_gallery_header">
					<h1>კონტაქტი</h1>
				</div>
				<div class="footer_container">
					<div class="form_container">
						<div class="fooret_names">
							<div>
								<span>Georgia, Tbilisi</span>
								<span>Phone: +995 322 00 00 00</span>
								<span>Email: info@gmail.com</span>
							</div>
							<div>
								<button class="footer_facebook">
									<img src="../static/images/facebook-logo (1).png" />
								</button>
							</div>
						</div>
						<form>
							<input
								type="text"
								name="name"
								placeholder="სახელი"
								class="main_container_header main_gallery_header"
							/>
							<input
								type="text"
								name="name"
								placeholder="E-mail"
								class="main_container_header main_gallery_header"
							/>
							<input
								type="text"
								name="text"
								placeholder="ტექსტი"
								class="main_container_header main_gallery_header"
							/>
						</form>
						<div class="main_gallery_btn_container">
							<button class="main_gallery_btn">გაგზავნა</button>
						</div>
					</div>
					<div class="map_container">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1182.2450166932701!2d44.798795250954974!3d41.697407574630766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440ce62260ffcb%3A0xf8c0ba1e8febcce5!2sGeorgian%20Museum%20of%20Fine%20Arts!5e0!3m2!1sen!2sge!4v1601280825330!5m2!1sen!2sge"
							width="600"
							height="450"
							frameborder="0"
							style="border: 0"
							allowfullscreen=""
							aria-hidden="false"
							tabindex="0"
						></iframe>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script>
		var munu = document.getElementById("menu");
		function myFunction(x) {
			x.classList.toggle("change");
			munu.classList.toggle("block");
		}
	</script>
</html>
