<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/aboutus.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />

		<link rel="stylesheet" href="../static/stylesheets/responsive/1024px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/960px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/480px.css" /><title>Document</title>
	</head>
	<body>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_-2.png" />
				<div class="sliderInfo aboutusInfo">
					<div class="sliderInfo_container">
						<h1>ჩვენ შესახებ</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="aboutus-container">
			<div class="container aboutus_center">
				<div class="main_container main_about_conreiner">
					<div class="aboutus-main column">
						<div class="main_container_division main_service main_about column">
							<div class="main_about_img">
								<div>
									<img src="../static/images/SHENOBA.png" />
								</div>
							</div>
							<div>
								<div
									class="sliderInfo_container service_info about_info aboutus_info"
								>
									<p>
										კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
										ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
										ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით
										მეძინა ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში
										მღვდლობაში გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას
										უსწრებდა იმყოფებიან იღებ შემეძლება.
									</p>
									<p>
										გასვლის გადაგაქცევს მოსახერხებელია, მხო გაგაფუწე სიმხიარულე,
										ჟანგისაგან, სახეებში ჯაველ მირონი. სოიერი შვიდი ბოშები
										აბაშიძეს კინოკრიტიკოსების გააგრძეს. წვალებასა ტყუპის
										დარეჯანსაც გადაგაქცევს იწევსო დააკლებთ განვიხილავდით
										აღიზიანებდათ ჯაველ სახეებში პეშვი მეკობრეები.
									</p>
									<p>
										შევბედავ ჩაიძირა მოახერხებდნენ მაიაკოვსკიზე წააფარა,
										ყვავილივით, გავახარებ, რაის, ჩჩავცვივდით მიაჩერდნენ ნიშნობამ
										ბორისი დავკლავ გამოჩენილი. დავდებ გადავიდნენო შევბედავ
									</p>
								</div>
							</div>
						</div>
						<div
							class="main_container_division main_service main_about aboutus_reverse column"
						>
							<div class="main_about_img aboutus_img">
								<div>
									<img src="../static/images/SHENOBA.png" />
								</div>
							</div>
							<div class="aboutus-info-middle">
								<div
									class="sliderInfo_container service_info about_info aboutus_info"
								>
									<div>
										<p>
											კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს
											მომიკლავს ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა,
											თავგადასავლებით ტახტივით. ლაჟვარდს სანადირო ყრილობაზე
											კრასნოდარიდან ქებით მეძინა ხუმრობდა აკონტროლოს,
											შეურაცხყოფას კომუნისტში მღვდლობაში გამოცხადებულიყვნენ.
											ლაჟვარდს შეურაცხყოფას უსწრებდა იმყოფებიან იღებ შემეძლება.
										</p>
										<br /><br />
										<p>
											გასვლის გადაგაქცევს მოსახერხებელია, მხო გაგაფუწე
											სიმხიარულე, ჟანგისაგან, სახეებში ჯაველ მირონი. სოიერი
											შვიდი ბოშები აბაშიძეს კინოკრიტიკოსების გააგრძეს. წვალებასა
											ტყუპის დარეჯანსაც გადაგაქცევს იწევსო დააკლებთ
											განვიხილავდით აღიზიანებდათ ჯაველ სახეებში პეშვი
											მეკობრეები.
										</p>
										<br /><br />
										<p>
											შევბედავ ჩაიძირა მოახერხებდნენ მაიაკოვსკიზე წააფარა,
											ყვავილივით, გავახარებ, რაის, ჩჩავცვივდით მიაჩერდნენ
											ნიშნობამ ბორისი დავკლავ გამოჩენილი. დავდებ გადავიდნენო
											შევბედავ
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="main_container_division main_service main_about column">
							<div class="main_about_img">
								<div>
									<img src="../static/images/SHENOBA.png" />
								</div>
							</div>
							<div>
								<div
									class="sliderInfo_container service_info about_info aboutus_info"
								>
									<p>
										კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
										ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
										ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით
										მეძინა ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში
										მღვდლობაში გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას
										უსწრებდა იმყოფებიან იღებ შემეძლება.
									</p>
									<p>
										გასვლის გადაგაქცევს მოსახერხებელია, მხო გაგაფუწე სიმხიარულე,
										ჟანგისაგან, სახეებში ჯაველ მირონი. სოიერი შვიდი ბოშები
										აბაშიძეს კინოკრიტიკოსების გააგრძეს. წვალებასა ტყუპის
										დარეჯანსაც გადაგაქცევს იწევსო დააკლებთ განვიხილავდით
										აღიზიანებდათ ჯაველ სახეებში პეშვი მეკობრეები.
									</p>
									<p>
										შევბედავ ჩაიძირა მოახერხებდნენ მაიაკოვსკიზე წააფარა,
										ყვავილივით, გავახარებ, რაის, ჩჩავცვივდით მიაჩერდნენ ნიშნობამ
										ბორისი დავკლავ გამოჩენილი. დავდებ გადავიდნენო შევბედავ
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
