<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<title>Document</title>
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="logo">
					<img src="../static/images/Group -2.png" />
				</div>
				<div class="menu">
					<div><span>ჩვენ შესახებ</span></div>
					<div><span>სერვისები</span></div>
					<div><span>გალერეა</span></div>
					<div><span>კონტაქტი</span></div>
				</div>
				<div class="language">
					<span>GEO</span>
					<span>EN</span>
				</div>
			</div>
		</header>
		<footer class="footer">
			<div class="container footer_conrain">
				<div class="main_container_header main_gallery_header">
					<h1>კონტაქტი</h1>
				</div>
				<div class="footer_container">
					<div class="form_container">
						<div class="fooret_names">
							<div>
								<span>Georgia, Tbilisi</span>
								<span>Phone: +995 322 00 00 00</span>
								<span>Email: info@gmail.com</span>
							</div>
							<div>
								<button class="footer_facebook">
									<img src="../static/images/facebook-logo (1).png" />
								</button>
							</div>
						</div>
						<form>
							<input
								type="text"
								name="name"
								placeholder="სახელი"
								class="main_container_header main_gallery_header"
							/>
							<input
								type="text"
								name="name"
								placeholder="E-mail"
								class="main_container_header main_gallery_header"
							/>
							<input
								type="text"
								name="text"
								placeholder="ტექსტი"
								class="main_container_header main_gallery_header"
							/>
						</form>
						<div class="main_gallery_btn_container">
							<button class="main_gallery_btn">იხილეთ მეტი</button>
						</div>
					</div>
					<div class="map_container">
						<h1 >აქანე დავდებ რუკასა</h1>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
