<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/aboutus.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/gallery.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1024px.css" />
<title>Document</title>
	</head>
	<body>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_-3.png" />
				<div class="sliderInfo aboutusInfo">
					<div class="sliderInfo_container">
						<h1>გალერია</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="main_container main_about_conreiner main_gallery_container">
			<div class="container">
				<div class="main_service galleryinfo main_gallery space">
					<div class="main_gallery_img">
						<div class="imgmedia">
							<img src="../static/images/_MG_8533== copy.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8611.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8630.png" />
						</div>
					</div>
				</div>
				<div class="main_service galleryinfo main_gallery space">
					<div class="main_gallery_img">
						<div class="imgmedia">
							<img src="../static/images/_MG_8533== copy.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8611.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8630.png" />
						</div>
					</div>
				</div>
				<div class="main_service galleryinfo gallery_buttom main_gallery space">
					<div class="main_gallery_img">
						<div class="imgmedia">
							<img src="../static/images/_MG_8533== copy.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8611.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8630.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
