<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="logo">
					<img src="../static/images/Group -2.png" />
				</div>
				<div class="menu">
					<div><span>ჩვენ შესახებ</span></div>
					<div><span>სერვისები</span></div>
					<div><span>გალერეა</span></div>
					<div><span>კონტაქტი</span></div>
				</div>
				<div class="language">
					<span>GEO</span>
					<span>EN</span>
				</div>
			</div>
		</div>
	</body>
</html>
