<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<title>Theatre</title>
	</head>
	<body>
		<!-- header -->
		<div class="main">
			<iframe class="header_frame" src="header.html"></iframe>
		</div>

		<!-- slider -->
		<div class="slideshow-container">
			<iframe class="slider_frame" src="slider.html"></iframe>
		</div>

		<!-- posts -->

		<iframe class="postsAbout_frame" src="postAbout.html"></iframe>
		<iframe class="postsService_frame" src="postService.html"></iframe>
		<iframe class="postsGallery_frame" src="postGallery.html"></iframe>
	</body>
	<!-- <script src="slider.js"></script> -->
</html>
