<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1024px.css" />		<link rel="stylesheet" href="../static/stylesheets/responsive/960px.css" /><link rel="stylesheet" href="../static/stylesheets/responsive/480px.css" />
		<title>Theatre</title>
	</head>
	<body>
		<!-- slider -->
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_8663==.png" />
				<div class="sliderInfo">
					<div class="sliderInfo_container sliderInfo_container_rp">
						<div><h1>სათაური</h1></div>
						<div class="none">
							<p>
								მოკლე აღწერა თუ იქნება ფოტოზე<br />
								შეიძლება ასე დაიწეროს, ამ ნაწილში
							</p>
						</div>
						<div><button>იხილეთ მეტი</button></div>
					</div>
				</div>

				<div class="slider_btn_container">
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>
			</div>
			<div class="mySlides fade">
				<img src="../static/images/_MG_-2.png" />
				<div class="sliderInfo">
					<div class="sliderInfo_container sliderInfo_container_rp">
						<div><h1>სათაური</h1></div>
						<div class="none">
							<p>
								მოკლე აღწერა თუ იქნება ფოტოზე<br />
								შეიძლება ასე დაიწეროს, ამ ნაწილში
							</p>
						</div>
						<div><button>იხილეთ მეტი</button></div>
					</div>
				</div>

				<div class="slider_btn_container">
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>
			</div>

			<div class="mySlides fade">
				<img src="../static/images/_MG_-3.png" />
				<div class="sliderInfo">
					<div class="sliderInfo_container sliderInfo_container_rp">
						<div><h1>სათაური</h1></div>
						<div class="none">
							<p>
								მოკლე აღწერა თუ იქნება ფოტოზე<br />
								შეიძლება ასე დაიწეროს, ამ ნაწილში
							</p>
						</div>
						<div><button>იხილეთ მეტი</button></div>
					</div>
				</div>

				<div class="slider_btn_container">
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>
			</div>


		</div>

		<!-- posts -->
		<div class="main_container main_about_conreiner">
			<div class="container">
				<div class="main_container_header main_about_header">
					<h1>ჩვენ შესახებ</h1>
				</div>
				<div class="main_container_division main_service main_about column">
					<div class="main_about_img">
						<div>
							<img src="../static/images/SHENOBA.png" />
						</div>
					</div>
					<div>
						<div
							class="about_info service_info about_info mainpg_info responsive-homepg"
						>
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით მეძინა
								ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში მღვდლობაში
								გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას უსწრებდა იმყოფებიან
								იღებ შემეძლება.<br /><br />
								გასვლის გადაგაქცევს მოსახერხებელია, მხო გაგაფუწე სიმხიარულე,
								ჟანგისაგან, სახეებში ჯაველ მირონი. სოიერი შვიდი ბოშები აბაშიძეს
								კინოკრიტიკოსების გააგრძეს. წვალებასა ტყუპის დარეჯანსაც
							</p>

							<div class="main_about_btn"><button>იხილეთ მეტი</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main_container">
			<div class="container">
				<div class="main_container_header">
					<h1>სერვისები</h1>
				</div>
				<div
					class="main_container_division main_service mainservicemedia column"
				>
					<div class="main_service_img">
						<div>
							<img src="../static/images/SHENOBA-1.png" />
						</div>
					</div>
					<div>
						<div class="sliderInfo_container service_info homepage-post-resp">
							<div class="service_header"><h1>სათაური</h1></div>
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი<br />
								გაასწორებს ფონს მომიკლავს ამოდიან ჟესტი<br />
								ლაჟვარდს დავრჩე აუფეთქდა,<br />
								თავგადასავლებით ტახტივით. ლაჟვარდს <br />
								სანადირო ყრილობაზე კრასნოდარიდან ქებით<br />
								მეძინა ხუმრობდა აკონტროლოს, შეურაცხყოფას
							</p>
							<div><button>იხილეთ მეტი</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main_container main_about_conreiner main_gallery_container">
			<div class="container">
				<div class="main_container_header main_gallery_header">
					<h1>გალერეა</h1>
				</div>
				<div class="main_service main_gallery">
					<div class="main_gallery_img">
						<div class="imgmedia">
							<img src="../static/images/_MG_8533== copy.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8611.png" />
						</div>
						<div class="imgmedia">
							<img src="../static/images/_MG_8630.png" />
						</div>
					</div>
					<div class="main_gallery_btn_container">
						<button class="main_gallery_btn">იხილეთ მეტი</button>
					</div>
				</div>
			</div>
		</div>
		<!-- <iframe class="postsAbout_frame" src="postAbout.html"></iframe>
		<iframe class="postsService_frame" src="postService.html"></iframe
		><iframe class="postsGallery_frame" src="postGallery.html"></iframe> -->
		<script src="slider.js"></script>
	</body>
	<!-- <script src="slider.js"></script> -->
</html>
