<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<title>Theatre</title>
	</head>
	<body>
		<!-- header -->
		<div >
			<iframe class="header_frame" src="{{ url_for('header') }}"></iframe>
		</div>

		<!-- slider -->
		<div class="slideshow-container">
			<iframe class="slider_frame" src="{{ url_for('slider') }}"></iframe>
		</div>


		<!-- posts -->


		<iframe class="postsAbout_frame" src="{{ url_for('post_about') }}"></iframe>
		<iframe class="postsService_frame" src="{{ url_for('post_service') }}"></iframe>
		<iframe class="postsGallery_frame" src="{{ url_for('post_gallery') }}"></iframe>
	</body>
	<!-- <script src="slider.js"></script> -->
</html>
