<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<title>Document</title>
	</head>
	<body>
		<!-- service -->
		<div class="main_container">
			<div class="container">
				<div class="main_container_header">
					<h1>სერვისები</h1>
				</div>
				<div class="main_container_division main_service">
					<div class="main_service_img">
						<div>
							<img src="../static/images/SHENOBA-1.png" />
						</div>
					</div>
					<div>
						<div class="sliderInfo_container service_info">
							<div class="service_header"><h1>სათაური</h1></div>
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი<br />
								გაასწორებს ფონს მომიკლავს ამოდიან ჟესტი<br />
								ლაჟვარდს დავრჩე აუფეთქდა,<br />
								თავგადასავლებით ტახტივით. ლაჟვარდს <br />სანადირო ყრილობაზე
								კრასნოდარიდან ქებით<br />
								მეძინა ხუმრობდა აკონტროლოს, შეურაცხყოფას
							</p>
							<div><button>იხილეთ მეტი</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
