<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<title>Document</title>
	</head>
	<body>
		<!-- contant -->

		<div class="main_container main_about_conreiner">
			<div class="container">
				<div class="main_container_header main_about_header">
					<h1>ჩვენ შესახებ</h1>
				</div>
				<div class="main_container_division main_service main_about">
					<div class="main_about_img">
						<div>
							<img src="../static/images/SHENOBA.png" />
						</div>
					</div>
					<div>
						<div class="sliderInfo_container service_info about_info">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით მეძინა
								ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში მღვდლობაში
								გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას უსწრებდა იმყოფებიან
								იღებ შემეძლება.<br /><br />
								გასვლის გადაგაქცევს მოსახერხებელია, მხო გაგაფუწე სიმხიარულე,
								ჟანგისაგან, სახეებში ჯაველ მირონი. სოიერი შვიდი ბოშები აბაშიძეს
								კინოკრიტიკოსების გააგრძეს. წვალებასა ტყუპის დარეჯანსაც
							</p>

							<div class="main_about_btn"><button>იხილეთ მეტი</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
