<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/aboutus.css" />
		<link rel="stylesheet" href="../static/stylesheets/gallery.css" />
		<link rel="stylesheet" href="../static/stylesheets/service.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_-3.png" />
				<div class="sliderInfo aboutusInfo">
					<div class="sliderInfo_container">
						<h1>სერვისები</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container service-containerweb servicemaincontainer">
			<div class="service-container">
				<div class="">
					<div class="service-container_header">
						<h2>საოფისე ფართების გაქირავება</h2>
					</div>

					<div class="service-info_container servvice2-container">
						<div class="service-info_container_middle">
							<div
								class="service-info_container_img service-info_container_imgmiddle"
							>
								<img src="../static/images/3.png" />
							</div>
						</div>
						<div class="service-info_container_information service2_para">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან
							</p>
						</div>
					</div>

					<div class="service-clock">
						<div class="service-time">
							<h3>2-3 საათი 4-5 საათი 6-9 საათი</h3>
							<h3>2-3 საათი 4-5 საათი 6-9 საათი</h3>
						</div>
						<div class="servic-price">
							<h3>ფასი 60ლარი ფასი 110 ლარი ფასი 160 ლარი</h3>
							<h3>ფასი 35ლარი ფასი 80 ლარი ფასი 110 ლარი</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="service-logoinfo">
				<div class="service-logo">
					<img src="../static/images/Group 43.png" />
				</div>
				<h2>სლოგანი</h2>
				<p>ლორემ იპსუმ ლორემ</p>
				<div class="service-line"></div>
				<h4>საოფისე ფართების გაქირავება</h4>
				<div class="service-line"></div>
				<h4>იურიდიული მისამართის გაქირავება/შეძენა</h4>
				<div class="service-line"></div>
				<h4>საკონფერენციო დარბაზები</h4>
				<div class="service-line"></div>
			</div>
		</div>
	</body>
</html>
