<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" />
		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/posts.css" />
		<link rel="stylesheet" href="../static/stylesheets/header.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<link rel="stylesheet" href="../static/stylesheets/hover.css" />
		<link rel="stylesheet" href="../static/stylesheets/aboutus.css" />
		<link rel="stylesheet" href="../static/stylesheets/gallery.css" />
		<link rel="stylesheet" href="../static/stylesheets/service.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1440px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1366px.css" />
		<link rel="stylesheet" href="../static/stylesheets/responsive/1024px.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="slideshow-container">
			<div class="mySlides fade">
				<img src="../static/images/_MG_-3.png" />
				<div class="sliderInfo aboutusInfo">
					<div class="sliderInfo_container">
						<h1>სერვისები</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container service-containerweb">
			<div class="service-container">
				<div class="">
					<div class="service-container_header">
						<h2>საოფისე ფართების გაქირავება</h2>
					</div>
					<div class="service-info_container">
						<div class="service-info_container_information">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით მეძინა
								ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში მღვდლობაში
								გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას უსწრებდა
							</p>
							<div><button>იხილეთ მეტი</button></div>
						</div>
						<div class="service-info_container_img">
							<img src="../static/images/5.png" />
						</div>
					</div>
					<div class="service-container_header-middle">
						<h2>იურიდიული მისამართის გაქირავება/შეძენა</h2>
						<div class=""></div>
					</div>
					<div class="service-info_container">
						<div class="service-info_container_middle">
							<div
								class="service-info_container_img service-info_container_imgmiddle"
							>
								<img src="../static/images/3.png" />
							</div>
						</div>
						<div class="service-info_container_information">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით მეძინა
								ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში მღვდლობაში
								გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას უსწრებდა
							</p>
							<div><button>იხილეთ მეტი</button></div>
						</div>
					</div>
					<div class="service-container_header">
						<h2>საკონფერენციო დარბაზები</h2>
					</div>
					<div class="service-info_container">
						<div class="service-info_container_information">
							<p>
								კრასნოდარიდან კვინიხზე დრამატურგი გაასწორებს ფონს მომიკლავს
								ამოდიან ჟესტი ლაჟვარდს დავრჩე აუფეთქდა, თავგადასავლებით
								ტახტივით. ლაჟვარდს სანადირო ყრილობაზე კრასნოდარიდან ქებით მეძინა
								ხუმრობდა აკონტროლოს, შეურაცხყოფას კომუნისტში მღვდლობაში
								გამოცხადებულიყვნენ. ლაჟვარდს შეურაცხყოფას უსწრებდა
							</p>
							<div><button>იხილეთ მეტი</button></div>
						</div>
						<div class="service-info_container_img">
							<img src="../static/images/4.png" />
						</div>
					</div>
				</div>
			</div>

			<div class="service-logoinfo none">
				<div class="service-logo">
					<img src="../static/images/Group 43.png" />
				</div>
				<h2>სლოგანი</h2>
				<p>ლორემ იპსუმ ლორემ</p>
				<div class="service-line"></div>
				<h4>საოფისე ფართების გაქირავება</h4>
				<div class="service-line"></div>
				<h4>იურიდიული მისამართის გაქირავება/შეძენა</h4>
				<div class="service-line"></div>
				<h4>საკონფერენციო დარბაზები</h4>
				<div class="service-line"></div>
			</div>
		</div>
	</body>
</html>
