<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/stylesheets/main.css" />
		<link rel="stylesheet" href="../static/stylesheets/slider.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="mySlides fade">
			<img src="../static/images/_MG_8663==.png" />
		</div>
		<div class="mySlides fade">
			<img src="../static/images/_MG_-2.png" />
		</div>

		<div class="mySlides fade">
			<img src="../static/images/_MG_-3.png" />
		</div>

		<div class="sliderInfo">
			<div class="sliderInfo_container">
				<div><h1>სათაური</h1></div>
				<div>
					<p>
						მოკლე აღწერა თუ იქნება ფოტოზე<br />
						შეიძლება ასე დაიწეროს, ამ ნაწილში
					</p>
				</div>
				<div><button>იხილეთ მეტი</button></div>
			</div>
		</div>

		<div class="slider_btn_container">
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<script src="../static/stylesheets/slider.js"></script>
	</body>
</html>
